<h1>Welcome to <%= title %> from <%= company %>!</h1>

<p class="sass">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nulla ipsum, volutpat porta lectus porttitor a. Donec sapien mauris, vestibulum eget mauris ac, pellentesque egestas nisl.</p>